---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import { SITE_TITLE, SITE_DESCRIPTION, BRIEF_INTRO } from '../consts'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>{BRIEF_INTRO.hello}</h1>
      <p>{BRIEF_INTRO.overview.content}</p>
      <p>{BRIEF_INTRO.overview.bonus}</p>
      <h2>{BRIEF_INTRO.moneytree.title}</h2>
      <p>{BRIEF_INTRO.moneytree.content}</p>
      <h2>{BRIEF_INTRO.automotive.title}</h2>
      <p>{BRIEF_INTRO.automotive.content}</p>
      <h2>Others</h2>
      <h3>{BRIEF_INTRO.verball.title}</h3>
      <p>{BRIEF_INTRO.verball.content}</p>
      <h3>{BRIEF_INTRO.voxar.title}</h3>
      <p>{BRIEF_INTRO.voxar.content}</p>
    </main>
    <Footer />
  </body>
</html>
